<app-image-display [step]='wrongGuessesCount'></app-image-display>

<h1>{{hiddenWord}}</h1>

@if(gameStatus === 'lost'){
    <p class="endMessage lost">You have lost</p>
    <p>The secret word was {{secretWord}}</p>
}
@if(gameStatus === 'won'){
    <p class="endMessage won">You have won</p>
}
<app-letter-picker (selectLetter)="handleCharSelection($event)"></app-letter-picker>

<div style="text-decoration: line-through;">
    @for(char of missedLetters; track char) {
        <span>{{char}}</span>
    }
</div>